<body class="index-page">
<div id="container"></div>
<h1>
  <a class="cinema">Cinema</a>
  <a class="cinema">Ironhack</a>
</h1>
<button id="movies" class="button"><a href="/movies">Check the movies!</a></button>
</body>
 