
<div class="container">
  <h2>Ironhack Cinema</h2>
  <h3>Click on the movie to check the showtimes!</h3>

  <ul class="cards-container">
    {{#each movies}}
    <li>
      <img src="{{image}}" alt="{{title}} Poster">
      <h4>{{title}}</h4>
      <a class="see-more-link" href="/movies/{{_id}}">See more</a>
    </li>
    {{/each}}
  </ul>
</div>